#poniedzialek{
    color: green;
}
#wtorek{
    color: red

}
#sroda{
    color: blue;
}
#czwartek{
    color: purple;
}
#piatek{
    color: aqua;
}
#sobota{
    color: black;
}
#niedziela{
    color: gold;
}